{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}


{% block title %}
<title>Abel Lamas</title>
{% endblock %}

{% block body %}
    {% include "components/navbar.html" %}
{% endblock body %}

{% block main %}
    {% include "components/hero.html" %}
    {% include "components/about.html" %}
    {% include "components/services.html" %}
    {% include "components/testimonial.html" %}
    {% include "components/services.html" %}
    {% include "components/counter.html" %}
    {% include "components/portfolio.html" %}
    {% comment %} {% include "components/blog.html" %} {% endcomment %}
    {% include "components/contact.html" %}
    
{% endblock main %}