{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %} <title>SW Acoustic ISO | Abel Lamas</title>
 {% endblock title %}  
{% block main %}
    
    {% comment %} {% include 'components/footer.html' %} {% endcomment %}
    <div class="container px-5 pt-5 mt-5 text-center">
        <!--APP TITLE -->
        <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                    SW ACOUSTIC ISO
                </h3>
                <p class="subtitle-a">
                    Aislamiento a ruido aéreo de una pared simple mediante distintos métodos de predicción.
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
        </div>

       
        <div class="row">
             <!-- FORM DATA ENTRY -->
            <div class="col-md-3">
                <div class="service-box">
                    <div class="service-content">
                        <h2 class="s-title">DATOS</h2>
                        <p class="s-description text-center">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {{ material_form.as_div }}
                                </div>

                                <div class="row">
                                {{ dimensions_form.as_div }}
                                </div>

                                <div class="row mx-3">
                                    <input type="submit" class="btn btn-primary my-3" value="Calcular">
                                    <a href="{% url 'export_excel' %}" class="btn btn-success">Exportar</a>
                                </div>

                            </form>
                        </p>
                    </div>
                </div>
            </div>
             <!-- PLOT -->
            <div class="col-md-9 text-center">
                <div class="service-box">
                    {{ fig_html|safe }}
                </div>
            </div>
        </div>
        
        <!-- TABLE DATA-->
        <div class="row px-3 my-5" style="overflow-x:auto">
            <table class="table table-striped">
                <thead>
                    {% for field in reduction_arr.schema.fields  %}
                    {% if field.name == "index" %}
                    <th scope="col">Modelo</th>
                    {% else %}
                    <th scope="col"> {{field.name | stringformat:"s"}} </th>
                    {% endif %}
                    {% endfor %}
                </thead>
                <tbody>
                    {% for rows in reduction_arr.data  %}
                    <tr>
                        {% for key, value in rows.items %}
                        
                        {% if key == "index" %}
                        <th scope="row">{{value}}</th>
                        {% else %}
                        <td>{{value | floatformat:2}}</td>
                        {% endif %}
                        {% endfor %}
                        {% comment %} <td>{{value}}</td> {% endcomment %}
                    </tr>    
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

            {% comment %} <div class="col-3 d-flex justify-content-center flex-column" > 

                <form method="post">
                    {% csrf_token %}
                    {{ material_form.as_div }}
                    <div class="d-flex flex-row gap-2">
                        {{ dimensions_form.as_div }}
                    </div>
                    <input type="submit" class="btn btn-primary my-3" value="Calcular">
                    <a href="{% url 'export_excel' %}"><button type="button" class="btn btn-success">Exportar</button></a>
                </form>
                
                <div class="">
                    {% if stiffness %}
                    <div class="px-1 py-4 bg-light rounded">
                        <p>Rigidez: {{ stiffness | floatformat:0 }} N/m</p>
                        <p>Masa superficial: {{ mass_sup | floatformat:0 }} Kg/m2</p>
                        <p>Frecuencia de resonancia: {{ freq_res | floatformat:0 }} Hz</p>
                        <p>Frecuencia crítica: {{ freq_critic | floatformat:0 }} Hz</p>
                        <p>Frecuencia densidad: {{ freq_density | floatformat:0 }} Hz</p>
                    </div>
                    {% endif %}
                </div>
            </div> {% endcomment %}

            
            
            
            
        
        
    </div>

    {% endblock %}