{% load static %}
<div class="section-counter paralax-mf bg-image" style="background-image: url( {% static "img/diffuser-facebook.png"%})">
    <div class="overlay-mf"></div>
    <div class="container position-relative">
      <div class="row">

        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle d-flex justify-content-center align-items-center"><i class="bi bi-journal-richtext"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">YEARS OF WORKING EXPERIENCE</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico d-flex">
              <span class="ico-circle d-flex justify-content-center align-items-center"><i class="bi bi-award"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">CERTIFICATES</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico ">
              <span class="ico-circle d-flex justify-content-center align-items-center"><i class="bi bi-percent"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="59" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">SOUND ENGINEERING DEGREE</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle d-flex justify-content-center align-items-center"><i class="bi bi-check"></i></span>
            </div>
            <div class="counter-num">
              <p data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1" class="counter purecounter"></p>
              <span class="counter-text">PROJECTS</span>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>