{% load static %}
<div id="hero" class="hero route bg-image" style="background-image: url({% static "img/hero-bg.png" %})">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">

          <h1 class="hero-title mb-4">Abel Lamas</h1>

          <p class="hero-subtitle"><span class="typed" data-typed-items="Sound Engineering Student, Electronic Technician, Developer and Data Science lover"></span></p>
        </div>
      </div>
    </div>
</div>