{% load static %}
<div class="testimonials paralax-mf bg-image" style="background-image: url({% static "img/hero-bg.png" %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <span class="author">Tutor Acompañante de Trayectorias Educativas</span>
                    <span>Oct 2020 - Today</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              

              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <span class="author">Tutor Socio-Laboral</span>
                    <span>Apr 2018 - Oct 2020</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->

              
              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    <span class="author">Ayudante Técnico Electricista</span>
                    <span>May 2018 - Apr 2019</span>
                  </div>
                  <div class="content-test">
                    <p class="description lead">
                      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
              
              <div class="swiper-slide">
                <div class="testimonial-box">
                  <div class="author-test">
                    {% comment %} <img src={% static "img/testimonial-2.jpg"%} alt="" class="rounded-circle b-shadow-a"> {% endcomment %}
                    <span class="author">Profesor Particular</span>
                    <span>Dec 2017 - Apr 2019</span>
                  </div>

                  <div class="content-test pt-4">
                    <p class="description lead">
                      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->


            </div>
            <div class="swiper-pagination"></div>
          </div>

           {% comment %} <div id="testimonial-mf" class="owl-carousel owl-theme">
            
          </div>  {% endcomment %}
        </div>
      </div>
    </div>
  </div>